@import "src/styles/variables";

.card {
  width: 25%;
  padding: 15px;

  @media (max-width: 991px) {
    width: 33.33%;
  }
  @media (max-width: 767px) {
    width: 50%;
  }
  @media (max-width: 499px) {
    width: 100%;
  }

  &__wrapper {
    height: 100%;
    padding: 15px;
    background-color: $gray-100;
    @include transition;

    &:hover {
      box-shadow: $shadow-md;
    }
  }

  &__img {
    height: 200px;
    margin-bottom: 20px;

    img {
      max-width: 100%;
      height: 100%;
      margin: 0 auto;
      object-fit: cover;
    }
  }

  &__categories {
    margin-bottom: 10px;
    color: $gray-400;
    font-size: $size-small;
  }

  &__title {
    display: inline-block;
    display: -webkit-box;
    max-height: 48px;
    margin-bottom: 5px;
    color: $stone-800;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 21px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    @include transition;

    &:hover {
      color: $gray-500;
    }
  }

  &__authors {
    margin-top: 10px;
    color: $gray-400;
    font-size: $size-small;
  }
}
